html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
    background-position: center top;
    background-size: cover;
    margin: 0;
  }
  
  .page-title {
    text-align: center;
    font-weight: 100;
  }
  
  .page-description {
    border: 1px solid #000;
    text-align: justify;
    padding: 30px;
  }
  
  .pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .headshot {
    margin: 20px;
    border: 5px solid #dbdbff;
    border-radius: 100%;
    height: 300px;
  
  }
  
  .container{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
    display: flex;
    justify-content:space-between;
  
  }
  
  .fa {
      padding: 30px;
      font-size: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      max-width: 100%;
      height: auto;
      color: #d2dbed;
  }
  
  
  
  .fa:hover {
      opacity: 0.7;
  }